@model CurrencyCalculator.Models.Logic
@{
    ViewBag.Title = "GetJsonDataModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form name="form_home" id="form_home" method="post" action="@Url.Action("Index","Home")"  >
<div class="container">
    <div class="row">
        <div class="col-6">

            <div class="row">
                <div class="col-6">
                    <label class="align-self-sm-start">from</label>
                </div>
                <div class="col-6">                    
                        <select class="custom-select" id="currency1" name="currency1" runat="server" onchange="SelectCurrency1">
                            <option>@ViewBag.cur1</option>
                            @foreach (var x in Model.objJson)
                            {
                                @foreach (var y in x.rates)
                                {

                                    <option>@y.code</option>
                                }
                            }
                        </select>                   
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="align-self-sm-start">to</label>
                </div>
                <div class="col-6">
                    <select class="custom-select" id="currency2" name="currency2" onchange="SelectCurrency2()">
                        <option>@ViewBag.cur2</option>
                        @foreach (var x in Model.objJson)
                        {
                            @foreach (var y in x.rates)
                            {

                                <option>@y.code</option>
                            }
                        }
                    </select>
                </div>

            </div>
            <div class="row">
                <div class="col-6">
                    <label class="align-self-sm-start" >volume</label>
                </div>
                <div class="col-6">
                    <input class="border-bottom" id="currency_value1" name="currency_value1"  />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="custom-control-inline" id="currency_value2" name="currency_value2" />@ViewBag.curr_value1
                    <label>@ViewBag.cur1</label>
                </div>                
                <div class="col-6">
                    <label class="custom-control-inline" id="currency_value2" name="currency_value2"  />@ViewBag.curr_value2 
                    <label>@ViewBag.cur2</label>
                </div>
            </div>
            <div class="row">
                <button class="btn-outline-dark" id="submit_button" name="submit_button" type="submit">submit</button>
            </div>



        </div>
        <div class="col-6">

            <table>
                <tr>
                    <th>currency</th>
                    <th>code</th>
                    <th>mid</th>

                </tr>


                @foreach (var x in Model.objJson)
                {
                    @foreach (var y in x.rates)
                    {
                    <tr>
                        <td>@y.currency</td>
                        <td>@y.code</td>
                        <td>@y.mid</td>
                    </tr>
                        }
                    }



            </table>

        </div>
    </div>
</div>
</form>